<script id="results" type="text/html">
    {{{question}}}
    <ul class="poll-answers-results">
    {{#each tally}}
        <li class="poll-result">
            <div class="result-answer-container">
                <div class="poll-result-input-container">
                  <input id="answer-{{key}}" type="radio" disabled {{#if choice}}checked="True"{{/if}} />
                </div>
                <div class="percentage-gauge-container">
                  <div class="percentage-gauge" style="width:{{percent}}%;"></div>
                </div>
            </div>
            <div class="poll-answer-text-container">
              <label for="answer-{{key}}">{{answer}}</label>
            </div>
            <div class="poll-percent-container">
              <span class="poll-percent-display{{#if top}} poll-top-choice{{/if}}">{{percent}}%</span>
            </div>
        </li>
    {{/each}}
    </ul>
</script>