<script id="results" type="text/html">
    {{{question}}}
    <ul class="poll-answers-results">
    {{#each tally}}
        <li class="poll-result">
            <div class="poll-result-input-container">
              <input id="answer-{{key}}" type="radio" disabled {{#choice}}checked="True"{{/choice}} />
            </div>
            <div class="percentage-gauge-container">
              <div class="percentage-gauge" style="width:{{percent}}%;">
                  <label class="poll-answer-text" for="answer-{{key}}">{{answer}}</label>
              </div>
            </div>
            <div class="poll-percent-container">
                <span class="poll-percent-display{{#top}} poll-top-choice{{/top}}">{{percent}}%</span>
            </div>
        </li>
       {{^last}}
        <li class="poll-spacer">
        </li>
       {{/last}}
    {{/each}}
    </ul>
    <input type="submit" name="poll-submit" onclick="return false;" value="Submit" disabled>
    <div class="poll-footnote"><small>Results gathered from {{total}} respondent(s).</small></div>
    {{#feedback}}
        <hr />
        <div class="poll-feedback">
            {{{this}}}
        </div>
    {{/feedback}}
</script>