<script id="answer-form-component" type="text/html">
{{#each answers}}
<li class="field comp-setting-entry is-set">
    <div class="wrapper-comp-setting">
        <label class="label setting-label" for="answer-{{key}}">Answer</label>
        <input class="input setting-input" name="answer-{{key}}" id="answer-{{key}}" value="{{text}}" type="text" /><br />
        <label class="label setting-label" for="img-answer-{{key}}">Image URL</label>
        <input class="input setting-input" name="img-answer-{{key}}" id="img-answer-{{key}}" value="{{img}}" type="text" />
        <div class="poll-move">
            <div class="poll-move-up">&#9650;</div>
            <div class="poll-move-down">&#9660;</div>
        </div>
    </div>
    <span class="tip setting-help">
        Enter an answer for the user to select. An answer must have an image URL or text, and can have both.
        (Text truncated at 250 characters, Image URL at 1000)
    </span>
    <a href="#" class="button action-button poll-delete-answer" onclick="return false;">Delete</a>
</li>
{{/each}}
</script>