<script class="survey-results-template" type="text/html">
    <h3 class="poll-header">{{block_name}}</h3>
    <div class="poll-results-wrapper" tabindex="0">
        <h4 class="poll-header">{{i18n "Results" }}</h4>
        <table class="survey-table poll-results">
            <thead>
                <tr>
                    <td></td>
                    {{#each answers}}
                        <th id="answer-{{key}}-{{../block_id}}" class="survey-answer">{{{label}}}</th>
                    {{/each}}
                </tr>
            </thead>
            {{#each tally}}
                <tr class="survey-row">
                    <th class="survey-question">
                        {{#if img}}
                            <div class="poll-image-td">
                                <img src="{{img}}" alt="img_alt"/>
                            </div>
                        {{/if}}
                        {{{label}}}
                    </th>
                    {{#each answers}}
                        <td class="survey-percentage survey-option{{#if choice}} survey-choice{{/if}}{{#if top}} poll-top-choice{{/if}}" aria-labelledby="answer-{{key}}-{{../../block_id}}">{{percent}}%</td>
                    {{/each}}
                </tr>
            {{/each}}
        </table>
        <input class="input-main" type="button" name="poll-submit" value="Submit" disabled>
        <div class="poll-footnote">
            {{interpolate (i18n_ngettext "Results gathered from {total} respondent." "Results gathered from {total} respondents." total) total=total}}
        </div>

        {{#if feedback}}
            <hr />
            <h3 class="poll-header">{{i18n "Feedback" }}</h3>
            <div class="poll-feedback">
                {{{feedback}}}
            </div>
        {{/if}}
    </div>
</script>
